---
import Layout from "../components/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog").then((posts) => posts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate)).slice(0, 5));
export const LINKS = [
	{
		title: 'GitHub',
		url: 'https://github.com/IshanKBG',
	},
	{
		title: 'Twitter',
		url: 'https://x.com/IshanKBG'
	},
	{
		title: 'LinkedIn',
		url: 'https://linkedin.com/IshanKBG'
	},
	{
		title: 'Email',
		url: 'mailto:me@ishankbg.dev'
	},
	{
		title: 'RSS',
		url: '/feed.xml'
	}
]

export const SKILLS = [
	'JavaScript',
	'TypeScript',
	'Node.js',
	'React',
	'Docker',
	'Rust',
	'Python',
	'C',
	'C++',
	"Linux",
	"Go",
	'PostgreSQL',
	'MySQL',
]
---

<Layout
	title="Home"
	description="My Personal space where I can share pieces of my mind."
	url={Astro.site}
>

		<section class="flex flex-col gap-4 mb-4">
			<p class="text-[#] text-3xl font-bold">
				Ishan Jaiswal
			</p>

			<p class="text-[#FBF0C6]">
				Passionate Computer Programmer
			</p>
		</section>
<section class="flex flex-col gap-4" aria-label="Recent Articles">
	<h2 class="text-[#d6bf64] text-xl font-bold">
		Recent Articles
	</h2>
	<div class="flex flex-col gap-4">
		{allPosts.map((blog)=> (
			<div>
				• <time datetime={ new Date(blog.data.pubDate).toISOString()}>{ new Date(blog.data.pubDate).toLocaleDateString() }</time> -
				<a class="text-[#FFA8CE]" href=`/blog/${blog.slug}` data-astro-prefetch>
					{ blog.data.title }
				</a>
			</div>
		))}
	</div>
</>
	<section class="flex flex-col gap-4" aria-label="Quick Links">
		<h2 class="text-[#d6bf64] text-xl font-bold">
			Quick Links
		</h2>

		<div class="flex flex-col">
			{LINKS.map((link)=> (
				<div>
					•
					<a class="text-[#FFA8CE]" href=`${link.url}`>
						{ link.title }
					</a>
				</div>
			))}

		</div>
	</>
	<section class="flex flex-col gap-4">
		<h2 class="text-[#d6bf64] text-xl font-bold">
			Skills
		</h2>
		<div class="flex flex-wrap gap-4">
			{SKILLS.map((skill)=> (
				<div class="bg-[d6bf64] p-2 rounded-md">
					{skill}
				</div>
			))}
		</div>
	</section>
</>
